#include "ckopcf.h"

#ifdef COMMENT
RESOURCE PCFONT CP111_F08   PCFONTS\CP111.F08
RESOURCE PCFONT CP111_F14   PCFONTS\CP111.F14
RESOURCE PCFONT CP111_F16   PCFONTS\CP111.F16
RESOURCE PCFONT CP111_F19   PCFONTS\CP111.F19
RESOURCE PCFONT CP112_F08   PCFONTS\CP112.F08
RESOURCE PCFONT CP112_F14   PCFONTS\CP112.F14
RESOURCE PCFONT CP112_F16   PCFONTS\CP112.F16
RESOURCE PCFONT CP112_F19   PCFONTS\CP112.F19
RESOURCE PCFONT CP113_F08   PCFONTS\CP113.F08
RESOURCE PCFONT CP113_F14   PCFONTS\CP113.F14
RESOURCE PCFONT CP113_F16   PCFONTS\CP113.F16
RESOURCE PCFONT CP113_F19   PCFONTS\CP113.F19
#endif

RESOURCE PCFONT CP437_F08   PCFONTS\CP437.F08
RESOURCE PCFONT CP437_F14   PCFONTS\CP437.F14
RESOURCE PCFONT CP437_F16   PCFONTS\CP437.F16
RESOURCE PCFONT CP437_F19   PCFONTS\CP437.F19
RESOURCE PCFONT CP850_F08   PCFONTS\CP850.F08
RESOURCE PCFONT CP850_F14   PCFONTS\CP850.F14
RESOURCE PCFONT CP850_F16   PCFONTS\CP850.F16
RESOURCE PCFONT CP850_F19   PCFONTS\CP850.F19

#ifdef COMMENT
RESOURCE PCFONT CP851_F08   PCFONTS\CP851.F08
RESOURCE PCFONT CP851_F14   PCFONTS\CP851.F14
RESOURCE PCFONT CP851_F16   PCFONTS\CP851.F16
RESOURCE PCFONT CP851_F19   PCFONTS\CP851.F19
#endif

RESOURCE PCFONT CP852_F08   PCFONTS\CP852.F08
RESOURCE PCFONT CP852_F14   PCFONTS\CP852.F14
RESOURCE PCFONT CP852_F16   PCFONTS\CP852.F16
RESOURCE PCFONT CP852_F19   PCFONTS\CP852.F19

#ifdef COMMENT
RESOURCE PCFONT CP853_F08   PCFONTS\CP853.F08
RESOURCE PCFONT CP853_F14   PCFONTS\CP853.F14
RESOURCE PCFONT CP853_F16   PCFONTS\CP853.F16
RESOURCE PCFONT CP853_F19   PCFONTS\CP853.F19
RESOURCE PCFONT CP860_F08   PCFONTS\CP860.F08
RESOURCE PCFONT CP860_F14   PCFONTS\CP860.F14
RESOURCE PCFONT CP860_F16   PCFONTS\CP860.F16
RESOURCE PCFONT CP860_F19   PCFONTS\CP860.F19
RESOURCE PCFONT CP861_F08   PCFONTS\CP861.F08
RESOURCE PCFONT CP861_F14   PCFONTS\CP861.F14
RESOURCE PCFONT CP861_F16   PCFONTS\CP861.F16
RESOURCE PCFONT CP861_F19   PCFONTS\CP861.F19
#endif

RESOURCE PCFONT CP862_F08   PCFONTS\CP862.F08
RESOURCE PCFONT CP862_F14   PCFONTS\CP862.F14
RESOURCE PCFONT CP862_F16   PCFONTS\CP862.F16

#ifdef COMMENT
RESOURCE PCFONT CP863_F08   PCFONTS\CP863.F08
RESOURCE PCFONT CP863_F14   PCFONTS\CP863.F14
RESOURCE PCFONT CP863_F16   PCFONTS\CP863.F16
RESOURCE PCFONT CP863_F19   PCFONTS\CP863.F19
RESOURCE PCFONT CP864_F08   PCFONTS\CP864.F08
RESOURCE PCFONT CP864_F14   PCFONTS\CP864.F14
RESOURCE PCFONT CP864_F16   PCFONTS\CP864.F16
RESOURCE PCFONT CP865_F08   PCFONTS\CP865.F08
RESOURCE PCFONT CP865_F14   PCFONTS\CP865.F14
RESOURCE PCFONT CP865_F16   PCFONTS\CP865.F16
RESOURCE PCFONT CP865_F19   PCFONTS\CP865.F19
#endif

RESOURCE PCFONT CP866_F08   PCFONTS\CP866.F08
RESOURCE PCFONT CP866_F14   PCFONTS\CP866.F14
RESOURCE PCFONT CP866_F16   PCFONTS\CP866.F16

#ifdef COMMENT
RESOURCE PCFONT CP880_F08   PCFONTS\CP880.F08
RESOURCE PCFONT CP880_F14   PCFONTS\CP880.F14
RESOURCE PCFONT CP880_F16   PCFONTS\CP880.F16
RESOURCE PCFONT CP881_F08   PCFONTS\CP881.F08
RESOURCE PCFONT CP881_F14   PCFONTS\CP881.F14
RESOURCE PCFONT CP881_F16   PCFONTS\CP881.F16
RESOURCE PCFONT CP882_F08   PCFONTS\CP882.F08
RESOURCE PCFONT CP882_F14   PCFONTS\CP882.F14
RESOURCE PCFONT CP882_F16   PCFONTS\CP882.F16
RESOURCE PCFONT CP883_F08   PCFONTS\CP883.F08
RESOURCE PCFONT CP883_F14   PCFONTS\CP883.F14
RESOURCE PCFONT CP883_F16   PCFONTS\CP883.F16
RESOURCE PCFONT CP884_F08   PCFONTS\CP884.F08
RESOURCE PCFONT CP884_F14   PCFONTS\CP884.F14
RESOURCE PCFONT CP884_F16   PCFONTS\CP884.F16
RESOURCE PCFONT CP885_F08   PCFONTS\CP885.F08
RESOURCE PCFONT CP885_F14   PCFONTS\CP885.F14
RESOURCE PCFONT CP885_F16   PCFONTS\CP885.F16
RESOURCE PCFONT CYRILL1_F08 PCFONTS\CYRILL1.F08
RESOURCE PCFONT CYRILL1_F14 PCFONTS\CYRILL1.F14
RESOURCE PCFONT CYRILL1_F16 PCFONTS\CYRILL1.F16
RESOURCE PCFONT CYRILL2_F08 PCFONTS\CYRILL2.F08
RESOURCE PCFONT CYRILL2_F14 PCFONTS\CYRILL2.F14
RESOURCE PCFONT CYRILL2_F16 PCFONTS\CYRILL2.F16
RESOURCE PCFONT CYRILL3_F08 PCFONTS\CYRILL3.F08
RESOURCE PCFONT CYRILL3_F14 PCFONTS\CYRILL3.F14
RESOURCE PCFONT CYRILL3_F16 PCFONTS\CYRILL3.F16
#endif


